.card-parent{
    display: flex;
    text-align: center;
    justify-content: center;
    flex-wrap: wrap;
}

.card{
    border: 1px solid red;
    width: 240px;
    height: 350px;
    border-radius: 10px;
    padding: 20px;
    margin: 30px;
    box-shadow: 1px 1px 2px yellow, -1px -1px 2px greenyellow;
}

.card-img{

}

select {
    background-color: white !important;
    color: black !important;
  }
  

.card-name{
    margin-top: 20px;
    font-size: 20px;
    font-weight: 800;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: burlywood;
}

.card-price{
    margin-top: 10px;
    font-size: 15px;
    font-weight: 800;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: burlywood;
}

table{

}
tr{

}
td{
    padding: 20px;
    border: 1px solid black;
}
th{
    padding: 20px;
    border: 1px solid black;
}